/.env

/config/*
!/config/
!/config/.gitkeep

/storage/branding/*
!/storage/branding/
!/storage/branding/.gitkeep

/storage/cache/*
!/storage/cache/
!/storage/cache/.gitkeep

/storage/jobs/*
!/storage/jobs/
!/storage/jobs/.gitkeep

/storage/logs/*
!/storage/logs/
!/storage/logs/.gitkeep

/storage/pdfs/*
!/storage/pdfs/
/storage/pdfs/contracts/*
!/storage/pdfs/contracts/
!/storage/pdfs/contracts/.gitkeep
/storage/pdfs/proposals/*
!/storage/pdfs/proposals/
!/storage/pdfs/proposals/.gitkeep

/storage/sessions/*
!/storage/sessions/
!/storage/sessions/.gitkeep

/storage/uploads/*
!/storage/uploads/
/storage/uploads/clients/*
!/storage/uploads/clients/
!/storage/uploads/clients/.gitkeep
/storage/uploads/company_profile/*
!/storage/uploads/company_profile/
!/storage/uploads/company_profile/.gitkeep
/storage/uploads/company_profile/branding/*
!/storage/uploads/company_profile/branding/
!/storage/uploads/company_profile/branding/.gitkeep
